---
layout: default
---

<div class="page clearfix" index>
    <div class="left">
        <h1>Welcome to leizhenyu's blog </h1>
        <small>Good Good Study,Day Day Up</small>
        <hr>
        <ul>
            {% for post in paginator.posts %}
              <li>
                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" onclick="click_url()">{{ post.title }}</a>
                </h2>
                <div class="label">
                    <div class="label-card">
                        <i class="fa fa-calendar"></i>{{ post.date | date: "%F" }}
                    </div>
                    <div class="label-card">
                        {% if post.author %}<i class="fa fa-user"></i>{{ post.author }}
                        {% endif %}
                    </div>
                    <div class="label-card">
                        <p><i class="fa fa-eye fa-x"></i><span id="{{ post.url | prepend: site.baseurl }}" class="leancloud_visitors" data-flag-title="{{ post.title }}"> 0 </span></p>
                    </div>
                    <div class="label-card">
                        {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
                    </div>

                    <div class="label-card">
                    {% include category.html %}
                    </div>

                    <div class="label-card">
                    {% include tag.html %}
                    </div>
                </div>
                <div class="excerpt">
                    {{post.excerpt}}
                </div>
                <div class="read-all">
                    <a  href="{{ post.url | prepend: site.baseurl }}"><i class="fa fa-newspaper-o"></i>Read All</a>
                </div>
                <hr>
              </li>
            {% endfor %}
        </ul>



        <!-- Pagination links -->
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="/index.html" class="previous"><i class="fa fa-angle-double-left"></i></a>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous"><i class="fa fa-angle-left"></i></a>
          {% else %}
            <span class="previous disable"><i class="fa fa-angle-double-left"></i></span>
            <span class="previous disable"><i class="fa fa-angle-left"></i></span>
          {% endif %}
          <span class="page_number ">{{ paginator.page }}/{{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-angle-right"></i></a>
            <a href="{{ site.baseurl }}/page{{ paginator.total_pages }}" class="next"><i class="fa fa-angle-double-right"></i></a>
          {% else %}
            <span class="next disable"><i class="fa fa-angle-right"></i></span>
            <span class="next disable"><i class="fa fa-angle-double-right"></i></span>
          {% endif %}
        </div>
    </div>
    <!-- <button class="anchor"><i class="fa fa-anchor"></i></button> -->
    <div class="right">
        <div class="wrap">
            <div class="side">
                <div>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Recent Posts
                </div>
                <ul class="content-ul" recent>
                    {% for post in site.posts offset: 0 limit: 10  %}
                        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Content -->
            <div class="side ">
                <div>
                    <i class="fa fa-th-list"></i>
                    Categories
                </div>
                <ul class="content-ul" cate>
                    {% for category in site.categories %}
                    <li>
                        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" class="categories-list-item" cate="{{ category | first }}">
                            <span class="name">
                                {{ category | first }}
                            </span>
                            <span class="badge">{{ category | last | size }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <div class="side">
                <div>
                    <i class="fa fa-tags"></i>
                    Tags
                </div>
                <div class="tags-cloud">
                    {% assign first = site.tags.first %}
                    {% assign max = first[1].size %}
                    {% assign min = max %}
                    {% for tag in site.tags offset:1 %}
                      {% if tag[1].size > max %}
                        {% assign max = tag[1].size %}
                      {% elsif tag[1].size < min %}
                        {% assign min = tag[1].size %}
                      {% endif %}
                    {% endfor %}

                    {% if max == min %}
                        {% assign diff = 1 %}
                    {% else %}
                        {% assign diff = max | minus: min %}
                    {% endif %}

                    {% for tag in site.tags %}
                      {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
                      {% assign base = temp | divided_by: 4 %}
                      {% assign remain = temp | modulo: 4 %}
                      {% if remain == 0 %}
                        {% assign size = base | plus: 9 %}
                      {% elsif remain == 1 or remain == 2 %}
                        {% assign size = base | plus: 9 | append: '.5' %}
                      {% else %}
                        {% assign size = base | plus: 10 %}
                      {% endif %}
                      {% if remain == 0 or remain == 1 %}
                        {% assign color = 9 | minus: base %}
                      {% else %}
                        {% assign color = 8 | minus: base %}
                      {% endif %}
                      <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag[0] }}" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
                    {% endfor %}
                </div>
            </div>

            <!-- <div class="side">
                <div>
                    <i class="fa fa-external-link"></i>
                    Links
                </div>
                <ul  class="content-ul">

                </ul>
            </div> -->
        </div>
    </div>
</div>
<!-- <script src="{{ "/js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
<!-- <script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
<!-- 同时兼容http与https -->
<script src="//cdn1.lncld.net/static/js/2.5.0/av-min.js"></script>
<script>
// 第一个参数是appid，第二个参数是appkey，此处的只是示例
AV.initialize("aSzjYN7CqES3X4fuETq3WDCe-gzGzoHsz", "CT3sbPoP1C4nqnRUNH5q3ltL");

function show_times(){
  // 设置 ACL
  var Counter = AV.Object.extend('Counter');
  var query = new AV.Query("Counter");
  // 获得span的所有元素
  var elements=document.getElementsByClassName('leancloud_visitors');
  for (var i = 0; i < elements.length ; i++) {
    // 若某span的内容不包括 '-' ，则不必创建记录
    query.equalTo('url', elements[i].id);
    query.first().then(function (result){
        if(result.length == 0){
            var title = elements[i].getAttribute('data-flag-title');
            var url = elements[i].id;
            var newcounter = new Counter();
            newcounter.set("title", title);
            newcounter.set("url", url);
            newcounter.set("time", 0);
            newcounter.save();
            elements[i].textContent = 0;
        }else{
            elements[i].textContent = result.get("time");
        }
    });
}

show_times()

function click_url(){
    var query = new AV.Query("Counter");
    query.equalTo('url', self.getAttribute("href"));
    query.first().then(function (result){
        result.increment('time', 1);
    });
}


// // 自己创建的Class的名字
// function createRecord(){
//   // 设置 ACL
//   var Counter = AV.Object.extend('Counter');
//   var acl = new AV.ACL();
//   acl.setPublicReadAccess(true);
//   acl.setPublicWriteAccess(true);
//   // 获得span的所有元素
//   var elements=document.getElementsByClassName('leancloud_visitors');
//   // 一次创建多条记录
//   var allcounter=[];
//   for (var i = 0; i < elements.length ; i++) {
//     // 若某span的内容不包括 '-' ，则不必创建记录
//     if(elements[i].textContent.indexOf('-') == -1){
//       continue;
//     }
//     var title = elements[i].getAttribute('data-flag-title');
//     var url = elements[i].id;
//     var newcounter = new Counter();
//     newcounter.setACL(acl);
//     newcounter.set("title", title);
//     newcounter.set("url", url);
//     newcounter.set("time", 0);
//     allcounter.push(newcounter);
//     // 顺便更新显示span为默认值0
//     elements[i].textContent=0;
//   }
//   AV.Object.saveAll(allcounter).then(function (todo) {
//     // 成功保存记录之后
//     console.log('创建记录成功！');
//   }, function (error) {
//     // 异常错误 
//     console.error('创建记录失败: ' + error.message);
//   });
// }
// function showCount(){
//   var Counter = AV.Object.extend('Counter');
//   // 是否需要创建新纪录的标志（添加一篇新文章）
//   var flag=false;
//   var query = new AV.Query("Counter");
//   query.greaterThanOrEqualTo('time', 0);
//   query.find().then(function (results) {
//     // 当获取到的记录为0时置默认值
//     if(results.length==0){
//       $('.leancloud_visitors').text('-');
//       flag=true;
//       console.log('返回查询记录为空');
//       // 如果获取到空记录就创建新记录
//       createRecord(Counter);
//       return;
//     }
//     // 将获取到的数据设置为text
//     for (var i = 0; i < results.length; i++) {
//       var item = results[i];
//       var url = item.get('url');
//       var time = item.get('time');
//       var element = document.getElementById(url);
//       element.textContent = time;
//     }
//     // 当某个span含有默认值时说明需要创建记录
//     if($('.leancloud_visitors').text().indexOf("-") != -1){
//       flag=true;
//     }
//     // 当获取的记录数与span个数不吻合时
//     if(results.length != $('.leancloud_visitors').length){
//       flag=true;
//     }
//     if(flag){
//       createRecord(Counter);
//     }
//   }, function (error) {
//     console.log('query error:'+error.message);
//   });
// }
// $(function() {
//   var Counter = AV.Object.extend(name);
//   showCount(Counter);
// });
</script>